.first-p{
	font-size: 17px;
	font-weight: 500;
}
.btn-white{
	background: #fff;
}
.btn-purp{
	background: #5850EC;
}
.fw-5{
	font-weight: 500;
}
.bg-purp{
	color: #5850EC;
}
.bd-bt{
	border-bottom: 2px dotted #6c757d;
}
.badge-purp{
	color: #5850EC;
	background: rgba(88,80,236,0.3);
}
.new-label{
	font-size: 17px;
	font-weight: 500;
}
.label-1{
	font-size: 23px;
	font-weight: 500;	
}
.shadow{
	box-shadow: 0 1px 0px rgb(0 0 0 / 16%), 0 0px 1px rgb(0 0 0 / 23%) !important;
}